fastapi==0.110.1
uvicorn[standard]>=0.25.0
pydantic>=2.6.4
pydantic[email]>=2.6.4
python-dotenv>=1.0.1
pyjwt>=2.8.0
email-validator>=2.1.0
requests>=2.31.0
python-multipart>=0.0.9

# Streaming & Storage
supabase>=2.4.0
aiofiles>=23.2.1
redis[asyncio]>=5.0.1
celery>=5.3.6

# Scalabilité
gunicorn>=21.2.0

# Outils de développement
black>=24.1.1
pytest>=8.0.0
pytest-asyncio>=0.23.0